$Primary-color: #2199e8;
$Success-Color: #3adb76;
$Warning-Color: #ffae00;
$Alert-Color: #ec5840;

body {
    padding: 0;
    margin: 0;
    background-color: blueviolet;
}

ul {
    margin: auto;
    padding: 0;
    font-size: 110%;
    list-style-type: none;
    overflow: hidden;
    width: 75%;
    height: 45px;
    border-radius: 10px;
    background-color: #ffffff;
}

li {
    display: inline-block
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover {
    color: #ff1192;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 170px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media (max-width: 580px) {

    ul {
        width: 100%;
        border-radius: 0px;

    }

    .dropdown-content {
        border-radius: 0px;
    }

}
